<app-floating-button (click)="openDialog()"></app-floating-button>

<div class="container">
  <div class="mt-5">
    <h1>Track List</h1>

    <mat-list>
      <mat-list-item class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <label class="label-white">Track name</label>
        </div>
        <div class="col-md-4">
          <label class="label-white">Artist</label>
        </div>
        <div class="col-md-3">
          <label class="label-white">Album</label>
        </div>

      </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item *ngFor="let track of tracks.items" class="row align-items-center">
        <div class="col-md-1">
          <button mat-mini-fab color="primary" (click)="deleteTrack(track)">-</button>
        </div>

        <div class="col-md-4">
          {{track.track.name}}
        </div>

        <div class="col-md-4">
          {{track.track.artists[0].name}}
        </div>

        <div class="col-md-3">
          {{track.track.album.name}}
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
