<h1 mat-dialog-title>New Playlist</h1>
<mat-dialog-content>

  <mat-form-field class="w-100">
    <input matInput placeholder="Playlist name (*)" [(ngModel)]="playlistName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Public</mat-label>
    <mat-select [(value)]="isPublic">
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
